@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default bullet color */
.swiper-pagination-bullet {
  background-color: white; /* change to your color */
  opacity: 0.7;
}

/* Active bullet color */
.swiper-pagination-bullet-active {
  background-color: #2563eb; /* Tailwind 'blue-600' */
  opacity: 1;
}
