@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default bullet color */
.swiper-pagination-bullet {
  border-radius: 10px !important;
  width: 20px !important;
  height: 6px !important;
  background-color: white !important;
}

/* Active bullet color */
.swiper-pagination-bullet-active {
  background-color: palevioletred !important; /* Tailwind 'blue-600' */
  opacity: 1;
}
