@tailwind base;
@tailwind components;
@tailwind utilities;

/* Default bullet color */
.swiper-pagination-bullet {
  border-radius: 4px;
  width: 90px;
  height: 90px;

  background-color: white !important;
}

/* Active bullet color */
.swiper-pagination-bullet-active {
  background-color: palevioletred !important; /* Tailwind 'blue-600' */
  opacity: 1;
}
